<!DOCTYPE html>
<html lang="zh" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{{.Title}}</title>
    <script src="/static/js/script.js"></script>
    <link href="/static/css/bootstrap-5.3.3.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/static/css/font-awesome.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/js/htmx-1.9.12.min.js"></script>
    <script src="/static/js/alpinejs-3.14.0.min.js" defer></script>
    <script src="/static/js/bootstrap-5.3.3.min.js"></script>
</head>
<body>